<article class="continent">
  <header>
    <nav>
      <button title="prev">Prev Icon</button>
      <button title="next">Next Icon</button>
    </nav>
    <h1>Continent Title</h1>
  </header>
  <div class="content">
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. Loads of content. Loads of content.
    Loads of content. Loads of content. The end.
  </div>
</article>
