<article class="continent">
  <header class="continent-header">
    <nav>
      <button class="arrow-back-icon" title="Go back">
        <span class="bar top"></span>
        <span class="bar mid"></span>
        <span class="bar bottom"></span>
      </button>
    </nav>
    <h1 class="continent-title">About</h1>
  </header>
  <div class="continent-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie
      magna sed ante gravida, ut pharetra arcu blandit. Mauris justo dolor,
      convallis ac porta non, semper quis ipsum. Pellentesque sed ex venenatis,
      viverra quam at, pretium ex. Aenean fringilla mattis mauris ac imperdiet.
      In fringilla nulla nulla, sed tincidunt nisi malesuada in. Vivamus
      eleifend justo ut arcu molestie, in elementum urna ultrices. Nunc ac ex in
      turpis tempus rutrum. Nulla vestibulum ex at egestas cursus. In ac magna
      diam. Quisque egestas efficitur faucibus. Donec ac libero a nunc lacinia
      ultricies ac non purus. Quisque turpis velit, ultrices et dui eget,
      accumsan faucibus diam. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. In aliquet erat molestie urna interdum commodo.
    </p>

    <p>
      In hac habitasse platea dictumst. Duis massa est, pretium eu mattis ut,
      accumsan vitae lacus. Cras vel sagittis nulla. Morbi tincidunt ante in est
      tempus sagittis. Integer non enim id erat pulvinar ultricies. Pellentesque
      fermentum nulla nec condimentum tempus. Maecenas in metus ipsum. Sed
      egestas quis risus eget feugiat. Pellentesque varius velit justo, et
      rutrum dui ullamcorper vitae. Quisque mattis risus eu arcu sollicitudin
      porttitor. Morbi egestas erat tellus, nec molestie est convallis et. In
      felis nunc, accumsan ut nisl et, condimentum dictum mi. Pellentesque
      ullamcorper, ex ac tincidunt sodales, purus erat auctor libero, sit amet
      pharetra velit tellus sit amet justo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero
      turpis, venenatis id molestie nec, aliquam at ligula. Aenean posuere non
      diam in hendrerit. Sed efficitur, tellus sed lobortis scelerisque, libero
      lorem placerat orci, vel maximus elit nisi non enim. Pellentesque habitant
      morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Nulla semper in metus a finibus. Duis lacinia luctus erat, eget venenatis
      nisi interdum in. Curabitur a odio elit. Morbi luctus lorem quis nulla
      iaculis accumsan. Vivamus eget aliquam mauris.
    </p>
    <p>
      Integer leo eros, viverra ut risus ac, viverra lobortis lectus. Curabitur
      a justo eget nulla aliquam malesuada vitae vel odio. Aenean nec vestibulum
      arcu. Integer tincidunt placerat tortor sed pulvinar. Sed eget mi
      fermentum purus mattis porttitor. Phasellus ornare, nunc vitae mattis
      maximus, ex arcu convallis justo, at tristique purus risus elementum diam.
      Duis feugiat, purus in placerat efficitur, neque mauris hendrerit neque,
      sit amet lobortis sem libero lobortis ipsum. Etiam varius convallis purus
      nec iaculis. Nulla pulvinar elit eu erat bibendum tempus.
    </p>
  </div>
</article>
