.continent {
  ---continent-vertical-spacing: 35vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  color: var(--primary);
  padding-left: 2rem;
  padding-right: 4rem;
  padding-bottom: var(---continent-vertical-spacing);
  margin-left: 2rem;
  overflow: auto;
  direction: rtl;
}

.continent > * {
  direction: ltr;
}

.continent-header {
  position: sticky;
  top: 0;
  margin-top: var(---continent-vertical-spacing);
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  transition: background-image 0.5s;
}

.continent-header.scrolled {
  background-image: linear-gradient(black, transparent);
}

.continent-title {
  font-size: 3.5rem;
  margin: 0;
}

.arrow-back-icon {
  all: unset;
  position: relative;
  height: 2rem;
  width: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.arrow-back-icon .bar {
  position: absolute;
  top: calc(50% - 0.125rem);
  left: 0;
  background: var(--primary);
  border-radius: 0.25rem;
  transform-origin: 0.125rem center;
}

.arrow-back-icon .bar.bottom {
  transform: rotateZ(45deg);
  width: 1rem;
  height: 0.25rem;
}

.arrow-back-icon .bar.mid {
  width: 3rem;
  height: 0.25rem;
}

.arrow-back-icon .bar.top {
  transform: rotateZ(-45deg);
  width: 1rem;
  height: 0.25rem;
}

.continent-content {
  font-size: 1.25rem;
}

/* Scrollbar Styles */

.continent::-webkit-scrollbar {
  width: 0.5rem;
}

.continent::-webkit-scrollbar-track {
  background: transparent;
}

.continent::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 1rem;
}

.continent::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 40vh;
}

.continent::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 40vh;
}
