:host {
  --gradient: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--secondary-color) 90%
  );
  /* Only displays on hover of continent. */
  /* TODO: Animate this? */
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

:host([mouseover]) {
  visibility: visible;
}

.continent-pin {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.continent-pin-icon {
  box-sizing: border-box;
  display: block;
  width: 4rem;
  height: 4rem;
  padding: 0.75rem;
  border-radius: 50%;
  border: 0.1825rem solid var(--primary);
  fill: var(--primary);
  background-image: var(--gradient);
  overflow: hidden;

  transform: translateY(0.75rem);
  opacity: 0;
  transition: transform 0.25s, opacity 0.25s;
}

.continent-pin-label {
  font-weight: bold;
  background: var(--primary);
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;

  transform: translateY(0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  transition-delay: 0.5s;
}

.continent-pin-label > span {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:host([mouseover]) > .continent-pin > .continent-pin-label {
  transform: translateY(-0.5rem);
  opacity: 1;
}

:host([mouseover]) > .continent-pin > .continent-pin-icon {
  transform: translateY(0);
  opacity: 1;
}
