:host {
  display: block;
  position: relative;
  /* 1.5rem for "::before" and 0.5rem for spacing. */
  margin-left: 2rem;
}

:host::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  right: calc(100% + 0.5rem);
  width: 1.5rem;
  height: 1.5rem;
  border: var(--line-width) solid var(--primary);
  border-radius: 50%;
}

:host::after {
  content: '';
  position: absolute;
  background: var(--primary);
  top: 1.5rem;
  right: calc(100% + 1rem + var(--line-width) / 2);
  width: var(--line-width);
  height: calc(100% - 0.5rem);
}

.timeline-event-data::slotted(h3) {
  margin-top: 0;
  font-size: 1.25rem;
}
