.planet-title {
  color: var(--primary);
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.planet-title > span {
  font-size: 1.5rem;
}

.planet-title > h1 {
  font-family: var(--font-family-heading);
  font-size: 5rem;
  margin: 0;
  margin-top: 1rem;
}

/* Portrait */
@media screen and (orientation: portrait) {
  .planet-title {
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }

  .planet-title > h1 {
    font-size: 4rem;
  }

  .planet-title > span {
    font-size: 1rem;
  }
}
