/* Global Styles */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  /* Variables */
  --bg-primary: #000000;
  --bg-primary-rgb: 0, 0, 0;
  --primary: #ffffff;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* TODO: Set up 'Varela Round' font. */
  font-family: 'Varela Round', sans-serif;
  /* Base font size relative units (`rem`) are calculated from. */
  font-size: 16px;
}
