/* Global Styles */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

:root {
  /* Variables */

  /* Colors */
  --bg-primary: #000000;
  --bg-primary-dim: #323232;
  --bg-primary-rgb: 0, 0, 0;
  --primary: #ffffff;
  --primary-dim: #e6e6e6;

  /* Fonts */
  --font-family-text: 'Varela Round', sans-serif;
  --font-family-heading: 'Viga', sans-serif;

  /* Look */
  --focus-outline: 0.0625rem solid var(--primary-dim);
  --line-width: 0.25rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-text);
  /* Base font size from which relative units (`rem`) are calculated. */
  font-size: 16px;
  background: var(--bg-primary);
}

body[loading] {
  opacity: 0;
}
