.continent-header {
  --gradient: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--secondary-color) 90%
  );
  padding: 2.5rem 0;
  transition: margin-top 0.5s;
}

.continent-title {
  font-size: 3.5rem;
  margin: 0;
  color: var(--primary);
}

/* Back Icon */

.arrow-back-icon {
  all: unset;
  position: relative;
  height: 2rem;
  width: 3.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.arrow-back-icon .bar {
  position: absolute;
  top: calc(50% - 0.125rem);
  left: 0;
  background: var(--primary);
  border-radius: 0.25rem;
  transform-origin: 0.125rem center;
}

.arrow-back-icon .bar.bottom {
  transform: rotateZ(45deg);
  width: 1rem;
  height: 0.25rem;
}

.arrow-back-icon .bar.mid {
  width: 3rem;
  height: 0.25rem;
}

.arrow-back-icon .bar.top {
  transform: rotateZ(-45deg);
  width: 1rem;
  height: 0.25rem;
}

/* Tablet */
@media screen and (max-width: 992px) {
  .continent-header {
    padding: 1rem 0;
  }

  .continent-title {
    font-size: 2rem;
    margin: 0;
  }
}
