:host {
  font-size: 1.25rem;
  padding-bottom: var(--continent-vertical-spacing);
  direction: rtl;

  /* Scrollbar Styles */
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

:host > * {
  direction: ltr;
}

/* Scrollbar Styles */

:host::-webkit-scrollbar {
  width: 0.5rem;
}

:host::-webkit-scrollbar-track {
  background: transparent;
}

:host::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 1rem;
}

:host::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dim);
}

:host::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10rem;
}

:host::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10rem;
}

/* Smaller Screens */

@media screen and (max-width: 992px) {
  :host::-webkit-scrollbar-track-piece:end {
    margin-bottom: 0;
  }

  :host::-webkit-scrollbar-track-piece:start {
    margin-top: 0;
  }
}
